.container{
    text-align: center;
}

.keyboard{
    background-color: #ececec;
    border-radius: 5px;
}

 .btn{
     margin: 5px;
 }

 .input-field{
     color: red;
 }

 .kb-rows{
    display: inline-flex;
 }

button:focus{
    background-color:rgb(0, 247, 255);
 }

.q, .selected{
     background-color: rgb(0, 247, 255);
 }


