<div class="container">
    <div class="show">
        <div class="input-field" (window:keypress)="onKeypress($event)">{{pressed_key}}
            <br><br>
        </div>
    </div>
    <div class="keyboard">
        <div class="kb-rows">
            <div class="kb-row" *ngFor='let key of array_of_keys'>
                <button 
                    (keypress)="onButtonPress($event)"
                    class="btn btn-light "
                    [class.selected]="sytle_of_key == key">
                    <span>{{key}}</span>
                </button>
            </div>
        </div>
    </div>
</div>